#============== Aneufinder configuration file ===============#

[General]
numCPU  =  4
reuse.existing.files  =  TRUE 

[Binning]
binsizes  =  5e+06 
stepsizes  =  1e+06 
variable.width.reference  = 'mousediploidref.bam'
reads.per.bin  =  NULL 
pairedEndReads  =  FALSE
assembly  =  NULL 
chromosomes  =  c('1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','X') 
remove.duplicate.reads  =  FALSE 
min.mapq  =  10
blacklist = 'blacklistmm10mousecolon.bed'
reads.store  =  FALSE 
use.bamsignals  =  FALSE 

[Correction]
correction.method  =  'GC'
GC.BSgenome  =  'BSgenome.Mmusculus.UCSC.mm10'
mappability.reference  =  NULL 

[CopyNumberCalling]
method  =  c('HMM','dnacopy','edivisive') 
strandseq  =  FALSE 

[CopyNumberCalling_HMM]
eps  =  0.01 
max.time  =  60 
max.iter  =  -1 
num.trials  =  15 
states  =  c('zero-inflation','0-somy','1-somy','2-somy','3-somy','4-somy','5-somy','6-somy','7-somy','8-somy','9-somy','10-somy') 
most.frequent.state  =  NULL 
most.frequent.state.strandseq  =  NULL 

[CopyNumberCalling_edivisive]
R  =  20 
sig.lvl  =  0.1 

[Breakpoint_Detection]
confint  =  0.95 
refine.breakpoints  =  TRUE 
hotspot.bandwidth  =  NULL 
hotspot.pval  =  0.05 

[SCE]
resolution  =  c(3,6) 
min.segwidth  =  2 
bw  =  4e+06 
pval  =  0.05

[Plotting]
cluster.plots  =  TRUE
